// Body
$body-bg: #d1d6d6;

// Typography
$font-family-sans-serif: 'Estonia', cursive;
$parrafos-font-family:'Architects Daughter', cursive;
$font-size-base: 1.6rem;
$line-height-base: 1.4;

// Colors
$blue: #f06b12;
$indigo: #65cd8d;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
